*.user
*.suo
*.swo
*.swp
*.config
*.DotSettings
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.ide
*.txt
*.cache
*.ide

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
build/


bin/*
bin/Release/*
bin/Debug/*
packages/*
v16/*
.vs/*
Bibliotecas/*
BbibliotecaDeClasses/obj/Debug/*
BbibliotecaDeClasses/obj/Release/*

*.VisualState.xml
TestResult.xml

$tf/
DocProject/buildhelp/
*.pubxml
*.publishproj
Desktop.ini

NuGetBuild
Biblioteca.csprol.FileListAbsolute.txt
*.csprojAssemblyReference.cache
